<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="main">
        <%- include('../partials/navbar.ejs') %>
        <div class="text"><p>La selección de fútbol de Portugal (en portugués, Seleção Portuguesa de Futebol) es el equipo representativo de ese país en las competiciones de fútbol masculino desde 1921. Está dirigida por la Federación Portuguesa de Fútbol (FPF), la cual está afiliada a la Unión de Asociaciones Europeas de Fútbol (UEFA) y a la Federación Internacional de Fútbol Asociado (FIFA), por lo que la selección participa en las competencias que dichas entidades organizan.

            Los partidos de local de Portugal se juegan en varios estadios de todo el país, y su principal campo de entrenamiento y sede técnica, Cidade do Futebol, se encuentra en Oeiras.
            
            La primera participación de Portugal en una fase final de un torneo importante fue en la Copa del Mundo de 1966, en la que un equipo con el ganador del Balón de Oro, Eusébio, terminó en tercer lugar. Las dos siguientes ocasiones en que Portugal se clasificó para la fase final de la Copa del Mundo fueron en 1986 y 2002, quedando en la primera ronda en ambas ocasiones. Portugal también llegó a las semifinales de la fase final de la UEFA Euro 1984, perdiendo 3-2 en la prórroga ante los anfitriones y eventuales ganadores de Francia.
            
            Bajo la primera generación dorada del equipo en la década de 1990, Portugal comenzó a estar presente de manera constante en todas las etapas finales de los grandes torneos, alcanzando las semifinales de la Eurocopa 2000, la final de la Eurocopa 2004 después de perder ante Grecia en casa y las semifinales de la Copa del Mundo 2006, terminando en el cuarto lugar, el mejor resultado del país en la Copa del Mundo desde 1966. Esto se debió en gran parte a la producción de varios jugadores, como Luís Figo, Rui Costa, Ricardo Carvalho y Cristiano Ronaldo.
            
            En 2014, Fernando Santos es nombrado nuevo entrenador. Dos años más tarde, en la Eurocopa 2016, Santos le dio a Portugal su primer trofeo importante, al derrotar a la anfitriona Francia. Con la victoria, Portugal se clasificó e hizo su única aparición en la Copa FIFA Confederaciones celebrada en Rusia, donde terminó en tercer lugar.
            
            El 10 de julio de 2016, logra el mayor éxito de su historia al ganar la Eurocopa 2016, celebrada en Francia tras vencer en la final por 1 a 0 en la prórroga a la selección anfitriona.2​
            
            El 9 de junio de 2019, se corona campeona de la primera edición de la Liga de Naciones 2018-19 y obtiene así el segundo título en su historia al derrotar a la selección de los Países Bajos por un marcador de 1 a 0.3​ Portugal se convirtió así en el primer equipo en lograr el doblete europeo Euro (2016) y Liga de Naciones (2018-2019).
            
            Portugal se conoce coloquialmente como la Seleção das Quinas (una sinécdoque basada en la bandera del país) y tiene rivalidades notables con Brasil, debido a los rasgos culturales y el patrimonio compartidos, con Francia, debido a varios encuentros importantes entre los dos equipos como en Eurocopa y Copa del Mundo, y con España, conocida como A Guerra Ibérica en portugués o The Iberian War en inglés, con la rivalidad entre dos países que se remonta a 1581.
            
            En la clasificación de la FIFA, vigente desde agosto de 1993, la mejor posición que ocupa Portugal es el 3.er lugar, alcanzado por primera vez en mayo de 2010, mientras que la peor posición es el 43.º lugar, ocupado en agosto de 1998. Actualmente ocupa el 8.º puesto en el ranking.</p>

        </div>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>