<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="main">
        <%- include('../partials/navbar.ejs') %>
        <div class="text">
            <p>Sorprende ver que Portugal recién disputará su octavo Mundial: los lusos acostumbraron al mundo con su presencia desde Corea-Japón 2002, como una de las fijas en la representación europea por más que varias veces hayan necesitado de la repesca. Parecía que Cristiano Ronaldo podía faltar a la cita de Qatar 2022, pero finalmente los dirigidos por Fernando Santos, un equipo lleno de estrellas, se hicieron con su boleto en la última instancia.

                Los últimos tres Mundiales terminaron con sabor a decepción para Portugal, eliminados por España y Uruguay en octavos de final y sin poder superar la fase de grupos en Brasil 2014. El material que tienen es suficiente como para soñar con llegar a lo más alto: por algo en los últimos tiempos ganaron una Eurocopa y una edición de la Liga de Naciones. ¿Cumplirán en lo que muy posiblemente sea el último Mundial de CR7?</p>
        </div>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>